@model Tunrecrute.ViewModels.UserDetailsViewModel

<div class="modal fade" id="modal-personal-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="title">
                    <h4><i data-feather="user-plus"></i>Personal Details</h4>
                </div>
                <div class="content">
                    <form asp-action="UserDetails" method="post">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input asp-for="Firstname" class="form-control" />
                            </div>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input asp-for="Lastname" class="form-control" />
                            </div>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date Of Birth</label>
                            <div class="col-sm-9">
                                <input asp-for="Birthdate" class="form-control" />
                            </div>
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nationality</label>
                            <div class="col-sm-9">
                                <input asp-for="Nationality" class="form-control" />
                            </div>
                            <span asp-validation-for="Nationality" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                <select asp-for="Sex" asp-items="@Model.selectList"  class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control" />
                            </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="offset-sm-3 col-sm-9">
                                <div class="buttons">
                                    <button class="primary-bg" type="submit" data-save="modal" id="USER-DETAILS">Save Update</button>
                                    <button class="" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>