@model Advertisement
@{
    Layout = "~/Views/Advertisement/_Layout.cshtml";
    ViewBag.Title = "Create";
}
<!-- Page header -->
<header class="page-header">
    <div class="container page-name">
        <h1 class="text-center">Add a new job</h1>
        <p class="lead text-center">Create a new vacancy for your company and put it online.</p>
    </div>
    <div class="container">

        <div class="row">
            <form asp-action="Create" method="post" id="createForm">
                <div class="form-group col-xs-12 col-sm-6">
                    <input asp-for="Title" placeholder="Title" class="form-control" />
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <select asp-for="Field" asp-items="ViewBag.Fields" class="form-control"></select>
                </div>
                <div class="form-group col-xs-12">
                    <textarea asp-for="Description" placeholder="Write a short description" class="form-control" style="resize: none;height: 150px"></textarea>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <select asp-for="Contract" asp-items="ViewBag.Contracts" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
                        <select asp-for="Diploma" asp-items="ViewBag.Diplomas" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-flask"></i></span>
                        <select asp-for="Experiance" asp-items="ViewBag.Experiences" class="form-control"></select>
                        <span class="input-group-addon">Years</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <input asp-for="Salary" placeholder="Salary" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input asp-for="WorkAddress" placeholder="Location, e.g. Ariana" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input asp-for="WorkHours" placeholder="Working hours, e.g. 40" class="form-control" />
                    </div>
                </div>

            </form>
        </div>

        <div class="button-group">
            <div class="action-buttons">
                <div class="upload-button">
                    <button type= "submit" class="btn btn-block btn-primary" onclick="submit()">Create</button>
                </div>
            </div>
        </div>
        <a asp-action="Index">back to list</a>
    </div>
</header>
<script>
    function submit() {
        document.getElementById("createForm").submit();
    }
</script>
